<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

  <display-name>Projet_GestionAppel</display-name>
  
  <servlet>
	<servlet-name>login</servlet-name>
	<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>accueil</servlet-name>
	<jsp-file>/Accueil.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/Accueil</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>planning</servlet-name>
	<jsp-file>/Planning.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>planning</servlet-name>
		<url-pattern>/Planning</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>cours</servlet-name>
	<jsp-file>/Cours.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>cours</servlet-name>
		<url-pattern>/Cours</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>consultation</servlet-name>
	<jsp-file>/ConsultationJustif.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>consultation</servlet-name>
		<url-pattern>/ConsultationJustif</url-pattern>
	</servlet-mapping>


	
  <welcome-file-list>
	<welcome-file>Login</welcome-file>
	</welcome-file-list>
</web-app>

 	

	



	