<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

  <display-name>Projet_GestionAppel</display-name>
  
  	<servlet>
		<servlet-name>login</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>graphique</servlet-name>
		<jsp-file>/Graphique.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>graphique</servlet-name>
		<url-pattern>/graphique</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>absence</servlet-name>
		<jsp-file>/Absence.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>absence</servlet-name>
		<url-pattern>/absence</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>indicateur</servlet-name>
		<jsp-file>/Indicateur.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>indicateur</servlet-name>
		<url-pattern>/indicateur</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>accueil</servlet-name>
		<jsp-file>/Accueil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/Accueil</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>planning</servlet-name>
	<jsp-file>/Planning.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>planning</servlet-name>
		<url-pattern>/Planning</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>recap</servlet-name>
	<jsp-file>/Recap.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>recap</servlet-name>
		<url-pattern>/Recap</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>analyse</servlet-name>
	<jsp-file>/Analyse.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>analyse</servlet-name>
		<url-pattern>/Analyse</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>cours</servlet-name>
	<jsp-file>/Cours.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>cours</servlet-name>
		<url-pattern>/Cours</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>consultation</servlet-name>
	<jsp-file>/ConsultationJustif.jsp</jsp-file>
	</servlet>
	
			<servlet>
	<servlet-name>confirmation</servlet-name>
	<jsp-file>/Confirmation.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>confirmation</servlet-name>
		<url-pattern>/Confirmation</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>consultation</servlet-name>
		<url-pattern>/ConsultationJustif</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>justificatif</servlet-name>
		<jsp-file>/Justificatif.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>justificatif</servlet-name>
		<url-pattern>/Justificatif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listeAbsenceEtudiant</servlet-name>
		<jsp-file>/ListeAbsenceEtudiant.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>listeAbsenceEtudiant</servlet-name>
		<url-pattern>/listeAbsenceEtudiant</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>profil</servlet-name>
	<jsp-file>/Profil.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>profil</servlet-name>
		<url-pattern>/Profil</url-pattern>
	</servlet-mapping>

	
  <welcome-file-list>
	<welcome-file>Login</welcome-file>
	</welcome-file-list>
</web-app>

 	

	



	